@import "../variables";

.contact-section {
  $offset: 35;
  @include flex-center;
  flex-direction: column;
  gap: 6rem;
  background-color: $color-secondary;
  box-shadow: 0 0 0 100vmax $color-secondary;
  clip-path: inset(0 -100vmax -100vmax -100vmax);
  text-align: center;
  margin-left: -#{$offset}rem;
  //padding: 6rem 2rem 3rem #{$offset}rem;
  padding: 6rem 0 0 #{$offset}rem;
  //background-image: url("../assets/images/pattern-rings.svg");
  //background-repeat: no-repeat;
  @include image("../assets/images/pattern-rings.svg");
  background-position: left 0 bottom 3rem;
  background-clip: padding-box;

  @media (min-width: $screen-big) {
    flex-direction: unset;
    align-items: flex-start;
    text-align: unset;
  }

  & .cta-container {
    //max-width: 40rem;

    & :first-child {
      margin-block: 1.5rem;
    }
  }

  //min-width: 34.3rem;
  & form {
    @include flex-center;
    width: 90%;
    max-width: 44.5rem;
    flex-direction: column;
    gap: 2rem;
    //padding-inline: 4rem;

    .input-wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      & input,
      & textarea {
        $trans-duration: 0.3s;
        transition: background-color $trans-duration,
          border-color $trans-duration;
        width: 100%;
        color: inherit;
        padding: 2rem 3rem;
        font-family: inherit;
        background-color: transparent;
        backdrop-filter: blur(6px);
        outline: transparent;
        border: none;
        border-bottom: 1px solid $color-gray;

        &::placeholder {
          text-transform: uppercase;
        }

        &:focus {
          background-color: darken(rgba($color-secondary, 50%), 3%);
        }
      }

      &.invalid input,
      &.invalid textarea {
        border-bottom: 1px solid $color-invalid;
        //border-color: ;
      }

      &.invalid:before {
        content: "Sorry, invalid format here";
        position: absolute;
        color: $color-invalid;
        white-space: nowrap;
        font-size: 1.2rem;
        bottom: -1.7rem;
        right: 0;
        z-index: 2;
      }

      & textarea {
        resize: vertical;
        min-height: 10rem;
        max-height: 25rem;
      }

      & .invalid-icon {
        position: absolute;
        right: 1rem;
        top: 1.7rem;
        //align-self: flex-end;
        display: grid;
        place-content: center;
        color: $color-invalid;
        border: 1px solid $color-invalid;
        font-size: 2rem;
        height: 2.4rem;
        width: 2.4rem;
        //aspect-ratio: 1;
        //padding: 2rem;
        border-radius: 50%;
      }
    }

    & :last-child {
      align-self: flex-end;
    }
  }
}
