@import "../variables";

.contact-section {
  $offset: 35;
  @include flex-center;
  flex-direction: column;
  gap: 6rem;
  background-color: $color-secondary;
  box-shadow: 0 0 0 100vmax $color-secondary;
  clip-path: inset(0 -100vmax -100vmax -100vmax);
  text-align: center;
  margin-left: -#{$offset}rem;
  padding: 6rem 2rem 3rem #{$offset}rem;
  //background-image: url("../assets/images/pattern-rings.svg");
  //background-repeat: no-repeat;
  @include image("../assets/images/pattern-rings.svg");
  background-position: left 0 bottom 3rem;
  background-clip: padding-box;

  @media (min-width: $screen-big) {
    flex-direction: unset;
    align-items: flex-start;
    text-align: unset;
  }

  & .cta-container {
    & :first-child {
      margin-block: 1.5rem;
    }
  }

  //min-width: 34.3rem;
  & form {
    @include flex-center;
    width: 90%;
    max-width: 44.5rem;
    flex-direction: column;
    gap: 2rem;
    //padding-inline: 4rem;
    & input,
    & textarea {
      position: relative;
      $trans-duration: 0.3s;
      transition: background-color $trans-duration, border-color $trans-duration;
      width: 100%;
      color: inherit;
      padding: 2rem 3rem;
      font-family: inherit;
      background-color: transparent;
      backdrop-filter: blur(6px);
      outline: transparent;
      border: none;
      border-bottom: 1px solid $color-gray;

      &::after {
        content: "Please enter your name";
        //height: 2rem;
        //width: 6rem;
        position: absolute;
        color: red;
        font-size: 14px;
        bottom: 0;
        right: 0;
      }

      &::placeholder {
        text-transform: uppercase;
      }

      &:focus {
        background-color: darken(rgba($color-secondary, 50%), 3%);
      }

      &.invalid {
        border-color: $color-invalid;
      }
    }
    & textarea {
      resize: vertical;
      min-height: 10rem;
      max-height: 25rem;
    }

    & :last-child {
      align-self: flex-end;
    }
  }
}
