@import "../variables";

.skills-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, 27rem);
  justify-content: space-around;
  //justify-content: center;
  margin-inline: auto;
  max-width: 100rem;

  & .skill-card {
    text-align: center;
    margin: 1.5rem auto;
    @media (min-width: $screen-small) {
      align-self: end;
      text-align: left;
      margin-left: 0;
    }
    & .name {
      font-size: 3.2rem;
      font-weight: 700;
      margin-bottom: 1rem;
      @media (min-width: $screen-small) {
        font-size: 4rem;
      }
    }

    & .years {
      font-weight: 500;
      font-size: 1.8rem;
      color: $color-gray;
    }
  }
}
