//Colors
$color-background: #151515;
$color-primary: #4ee1a0;
$color-secondary: #242424;
$color-font: #fff;
$color-gray: #d9d9d9;
$color-invalid: #ff6f5b;

//Screens
$screen-small: 650+1px;
$screen-medium: 868+1px;
$screen-big: 1000+1px;

//Mixins
@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin image($path) {
  background-image: url("#{$path}");
  background-repeat: no-repeat;
}

@mixin transition-all($properties, $duration) {
  @each $property in $properties {
    transition: $property $duration;
  }
}

//Fonts
@font-face {
  font-family: Space;
  src: local(SpaceGrotesk),
    url("/src/assets/fonts/SpaceGrotesk-VariableFont_wght.ttf");
}
